.QR {
	position:relative;
	margin-left: 500px;
}

.QRI{
	position:relative;
	margin-left: 500px;
	top: 10px;
}

.calculatrice{
	position:absolute;
	margin-left: 200px;
}

.button {
	width:60px; 
	text-align:center;
	font-family:System,sans-serif;
	font-size:100%;
	border: 5px ridge;
	border-radius: 10px;
}

.affiche { 
	width:100%;
	text-align:center;
	font-family:System,sans-serif;
	border: 2px outset;
	border-radius: 10px;
}

form{
	border: 3px outset;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
}

body {
	margin: 20;
	background-image: url("BG.PNG");
	position: absolute;
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.leg{
	text-align: center;
	border: 2px #FFFFFF outset;
	border-radius: 1px;
}

.quest{
	width: 500px;
	text-align: left;
	border: 2px #FFFFFF outset;
	border-radius: 1px;
	background-color: transparent;
}